body {
  margin: 0;
  padding: 0;
}

.auth-layout {
  height: 100vh;  /* Makes sure the main container fills the viewport */
  justify-content: center;
  align-items: center;
  background-image: url('/images/auth-background.webp');
  background-size: cover;
  background-position: center; 
  background-repeat: no-repeat; 
  background-attachment: fixed; 
}

.form-section {
    height: 100vh;
    background-color: rgba(107, 67, 119, 0.75);
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.form-card {
  border-radius: 10px; 
}

.form {
    width: auto;
    min-width: 16rem;
    box-shadow: 0px 3px 8px;
}

.login-btn {
  background: linear-gradient(135deg, #3fc84e, #3ca0c8);
  border: 0;
  padding: 8px 16px;
  text-shadow: 0px 2px #2020202e;
  box-shadow: 0px 3px #2020202e;
  transition: transform 0.2s ease, box-shadow 0.2s ease, filter 0.6s;
  will-change: transform, box-shadow;
}

.login-btn:hover {
  filter: hue-rotate(80deg);
}

.login-btn:active {
  transform: scale(0.98);
  box-shadow: 0px 1px #2020202e;
  filter: brightness(0.9);
}