.card-title {
    font-weight: 700;
    font-size: 38px;
    letter-spacing: -1.0px;
}

.user-card {
    width: 36rem; 
    padding: 8px;
    box-shadow: 0px 3px 4px 3px #00000024;
    border: none;
}

.safe-back {
    background-image: url('/images/safe-graphic.svg');
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
}